body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
     
    /* hsl(218, 44%, 22%)  */
}
.container{
    display: flex;
    height:55vh;
    width:16vw;
    border:5px solid white ;
    border-radius:15px;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
    flex-direction:column;
}
.image{
    position: relative;
    top: 1vh;
    border-radius:10px;
}
.text{
    font-weight:400px;
    text-align:center
}
.text1{
    font-size:15px;
    font-weight:700px;
    text-align: center;
}

